@keyframes pulsar {
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;    
    }
}
@keyframes slideRight {
    to {margin-left: 0;}
    from {margin-left: -33px;}
    }

body,div,span,h1,h2,h3,h4,h5,h6{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    /* line-height: 0; */
}
body{
    background-color: var(--backBlue);
}
:root{
    --backBlue: #006494;
}
.container{
    margin: 0 auto;
    width: 100vw;
    max-width: 800px;

}
.title{
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
}
.introdução{
}
.version{
    font-size: 0.7rem;
}
.parede{
    width: 4.76%;
    height: 15.5px;
    background-color: var(--backBlue);
    text-align: center;
    color: var(--backBlue);
    font-size: 0.1rem;
}
.space{
    width: 4.76%;
    height: 15.5px;
    background-color:#ffffff;
    color: #ffffff;
    font-size: 0.1rem;
    text-align: center;
}
.player{
    width: 4.76%;
    background-color: #000;
    animation: pulsar 0.5s linear;
    color: #000;
    font-size: 0.1px;
    text-align: center;

}
.row{
    width: 100%;
    display: flex;
}
.modal{
    position: absolute;
    right: 0;
    left: 0;
    width: 80vw;
    height: 200px;
    margin: 0 auto;
    /* background-color: #000; */
    /* opacity: 0.9; */
}
.level{
    color: #ffffff;
    padding:5px 10px ;
}
.winner{
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.disable{
    display: none;
}
.enable{
    display: block;
}
.btn{
    /* padding: 10px; */
    color: #ffffff;
    background-color: var(--backBlue);
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.2rem;
}
.controles{
    position: fixed;
    right: 0;
    left: 0;
    bottom:0;
    /* border: 1px solid #fff; */
    width: 300px;
    margin: 0 auto;
    margin-top: 30px ;
    display: flex;
    flex-direction: column;
}
.controles_row{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
}
.botao{
    width: 80px;
    height: 50px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    line-height: 50px;
}

@media only screen and (min-width: 600px) {
    .parede,.space{
        height: 35px;
    }
}
@media only screen and (min-width: 800px) {
    .controles{
        display: none;
    }
}
